<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'App/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="{% url 'App:register' %}" class="nav-link">Register</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'App:user_login' %}" class="nav-link">Login</a></li>
        {% endif %}
    </ul>

    <div class="container-fluid">
        {% block body_block %}

        {% endblock  %}
    </div>

</body>

</html>